/* Regular Styling */

body {
	background-color: #232D34;
	/*background-color: #5D6985;*/
    color: white;
  	font-family: 'Lato', sans-serif;
}

body, html {
  /* important */
  height: 100%;
}

.jumbotron .container {
  position: relative;
  top: 220px;
}

.jumbotron h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.jumbotron p {
  letter-spacing: 0.01em;
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
}

.mid-col {
	padding-right: 70px;
}

#about {
	margin-top: -30px;
}

#about h2 {
	font-size: 48px;
	font-weight: 300;
	padding-bottom: 50px;
}
 
#about p {
    font-size: 16px;
} 

#lessons .container {
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#lessons h2 {
	font-size: 48px;
	font-weight: 300;
}

#lessons p {
	padding-bottom: 50px;
	font-size: 16px;
}

#pricing .container{
  color: #ffffff;
}

#pricing h2 {
	font-size: 48px;
	font-weight: 300;
}

#pricing p {
	font-size: 16px;
	padding-bottom: 50px;
}

#pricing li {
	font-size: 16px;
}

#availability {
  padding-top: 100px;
  padding-bottom: 100px;
}

#availability h2 {
	font-size: 48px;
	font-weight: 300;
}

#availability p {
	font-size: 16px;
	padding-bottom: 60px;
}

#availability li {
	font-size: 16px;
}

#contact h2 {
	font-size: 48px;
	font-weight: 300;
}

#contact p {
	font-size: 16px;
	padding-bottom: 30px;
}

#contact span {
	font-size: 16px;
}

.footer {
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #ffffff;
	text-align: center;
	color: #5D6985;
	font-size: 10px;
	letter-spacing: 0.3em;
	padding-top: 7px;
}




/* Image Flipper */

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	width: 100%;
}
	
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 500px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
